@font-face {
  font-family: "arseitalic";
  src: url(../font/Arsenal-Italic.ttf) format("truetype");
}
@font-face {
  font-family: "arseregular";
  src: url(../font/Arsenal-Regular.ttf) format("truetype");
}
header {
  background: linear-gradient(16deg, rgba(22, 22, 26, 0.3725490196) 35%, rgba(62, 49, 100, 0.6078431373) 55%);
  box-shadow: 0px 0px 40px 40px rgba(22, 22, 26, 0.3725490196);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
header .flexhead .navbar {
  display: grid;
  gap: 25%;
  background-color: rgba(22, 22, 26, 0.3176470588);
  margin: 0 50px;
  border-radius: 20px;
  height: 12vh;
  position: relative;
  top: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}
header .flexhead .navbar .leftcont {
  display: flex;
  flex-direction: row;
  grid-area: left;
  justify-content: left;
  align-items: center;
  margin: 0 40px;
}
header .flexhead .navbar .leftcont .logocat {
  height: 70px;
  width: 70px;
}
header .flexhead .navbar .leftcont .portfolio {
  font-size: 25px;
  font-family: "arseitalic";
}
header .flexhead .navbar .rightcont {
  display: flex;
  flex-direction: row;
  grid-area: right;
  justify-content: right;
  align-items: center;
  gap: 40px;
  margin: 0px 40px;
}
header .flexhead .navbar .rightcont .listacontent {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
}
header .flexhead .navbar .rightcont .listacontent .proy-li .link-a {
  color: #ffffff;
  text-decoration: none;
  font-family: "arseitalic";
  font-size: 20px;
}
header .flexhead .navbar .rightcont .listacontent .proy-li .link-a:hover {
  filter: drop-shadow(0px 0px 1.9px #7f5af0);
}
header .flexhead .navbar .rightcont .listacontent .cont-li .link-a {
  color: #ffffff;
  text-decoration: none;
  font-family: "arseitalic";
  font-size: 20px;
}
header .flexhead .navbar .rightcont .listacontent .cont-li .link-a:hover {
  filter: drop-shadow(0px 0px 1.9px #7f5af0);
}
header .flexhead .navbar .rightcont .listacontent .skill-li .link-a {
  color: #ffffff;
  text-decoration: none;
  font-family: "arseitalic";
  font-size: 20px;
}
header .flexhead .navbar .rightcont .listacontent .skill-li .link-a:hover {
  filter: drop-shadow(0px 0px 1.9px #7f5af0);
}
header .flexhead .navbar .rightcont .linkgh:hover {
  filter: drop-shadow(0px 0px 1.9px #7f5af0);
}
header .flexhead .navbar .rightcont .linkgh .ghlogo {
  height: 50px;
  width: 50px;
}
header .flexhead .headcontainer {
  padding: 150px;
}
header .flexhead .headcontainer .mainMess {
  padding-bottom: 50px;
  font-family: "arsregular";
  font-size: 20px;
}
header .flexhead .headcontainer .mainMess .welcome {
  padding-right: 120px;
}
header .flexhead .headcontainer .mainMess .welcome .twof {
  font-family: "arseitalic";
  color: #7F5AF0;
  font-size: 45px;
  font-style: oblique;
}
header .flexhead .headcontainer .mainMess .front {
  padding-left: 120px;
  font-family: "arseitalic";
  font-size: 25px;
  padding-bottom: 30px;
}
header .flexhead .headcontainer .info {
  background-color: rgba(0, 0, 0, 0.1568627451);
  margin: 10px 300px 10px 300px;
  padding: 10px 0;
  border: 1px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, red, blue);
  animation: borderMove 5s infinite linear;
}
header .flexhead .headcontainer .info .about {
  font-family: "arseitalic";
}
header .flexhead .headcontainer .info .about h2 {
  color: #ffffff;
  font-size: 30px;
}
header .flexhead .headcontainer .info .about h2::after {
  content: "--";
  color: #7F5AF0;
}
header .flexhead .headcontainer .info .about h2::before {
  content: "--";
  color: #7F5AF0;
}
header .flexhead .headcontainer .info .about .infotxt {
  margin: 20px 10vh;
  font-size: 20px;
  font-family: "arseitalic";
  text-align: center;
}

@keyframes borderMove {
  0% {
    border-image-source: linear-gradient(0deg, #7F5AF0, #16161A);
  }
  25% {
    border-image-source: linear-gradient(90deg, #7F5AF0, #16161A);
  }
  50% {
    border-image-source: linear-gradient(180deg, #7F5AF0, #16161A);
  }
  75% {
    border-image-source: linear-gradient(270deg, #7F5AF0, #16161A);
  }
  100% {
    border-image-source: linear-gradient(360deg, #7F5AF0, #16161A);
  }
}
* {
  margin: 0;
}
* body {
  background-color: #242629;
  color: white;
}

html::-webkit-scrollbar {
  background: #16161A;
}
html::-webkit-scrollbar-thumb {
  background: rgba(127, 90, 240, 0.2431372549);
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #7F5AF0;
  background-color: #16161A;
  margin-top: 100px;
}
footer .contact {
  margin-top: 50px;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-template-areas: "tittle tittle tittle" "ig mia li" "mail mail mail";
}
footer .contact .cont {
  grid-area: tittle;
  font-family: "arseitalic";
  font-size: 25px;
}
footer .contact .ig {
  grid-area: ig;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
footer .contact .ig .imglogo {
  height: 40px;
  width: 40px;
}
footer .contact .link {
  grid-area: li;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
footer .contact .link .imglogo {
  height: 50px;
  width: 50px;
}
footer .contact .mail {
  grid-area: mail;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
footer .contact .mail .imglogo {
  height: 50px;
  width: 50px;
}
footer .contact .mia {
  grid-area: mia;
  height: 200px;
  width: 200px;
  filter: drop-shadow(0px 0px 1.9px rgba(255, 255, 255, 0.6705882353));
}
footer .contact .mia:hover {
  filter: drop-shadow(0px 0px 1.9px #7f5af0);
}

main {
  margin: 10px 100px;
}
main .project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 200px 5px 200px;
}
main .project .separate {
  height: 4px;
  border: none;
  background-color: #7F5AF0;
  box-shadow: 0 0 10px #9675fa;
  width: 80%;
  margin: 50px;
}
main .project h2 {
  font-size: 30px;
  font-family: "arseitalic";
  color: #ffffff;
  margin-bottom: 40px;
}
main .project .pages {
  font-family: "arseitalic";
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .project .pages .page {
  margin: 50px;
  display: grid;
  grid-template-rows: 50px 60px 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "titulo titulo foto" "desc desc foto" "leng leng foto";
  font-family: "arseitalic";
}
main .project .pages .page:nth-child(even) {
  grid-template-areas: "foto titulo titulo" "foto desc desc" "foto leng leng";
}
main .project .pages .page:nth-child(even) .name {
  grid-area: titulo;
  text-align: right;
  font-size: 25px;
}
main .project .pages .page:nth-child(even) .info {
  grid-area: desc;
  text-align: right;
  margin: 0 0 0 100px;
  font-size: 18px;
  height: 100%;
}
main .project .pages .page:nth-child(even) .urlimg {
  grid-area: foto;
}
main .project .pages .page:nth-child(even) .urlimg .img-page {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: -6px 8px 4px #16161A;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main .project .pages .page:nth-child(even) .urlimg .img-page:hover {
  transform: translateY(-10px) scale(1.6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, red, blue);
  animation: borderMove 5s infinite linear;
}
main .project .pages .page:nth-child(even) .langcont {
  display: flex;
  grid-area: leng;
  justify-content: right;
  width: 200%;
  height: 100%;
  align-items: end;
}
main .project .pages .page:nth-child(even) .langcont .leng {
  height: 40px;
  width: 40px;
}
main .project .pages .page .name {
  grid-area: titulo;
  text-align: left;
  font-size: 25px;
}
main .project .pages .page .name::after {
  content: "--";
  color: #7F5AF0;
}
main .project .pages .page .name::before {
  content: "--";
  color: #7F5AF0;
}
main .project .pages .page .info {
  grid-area: desc;
  text-align: left;
  margin: 0 100px 0 0;
  font-size: 18px;
}
main .project .pages .page .urlimg {
  grid-area: foto;
  height: 80%;
}
main .project .pages .page .urlimg .img-page {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 6px 8px 4px #16161A;
  border: 1px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, red, blue);
  animation: borderMove 5s infinite linear;
}
main .project .pages .page .urlimg .img-page:hover {
  transform: translateY(-10px) scale(1.6);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 0px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(0deg, red, blue);
  animation: borderMove 5s infinite linear;
}
main .project .pages .page .langcont {
  display: flex;
  width: 200%;
  height: 100%;
  grid-area: leng;
  justify-content: left;
  align-items: end;
}
main .project .pages .page .langcont .leng {
  height: 40px;
  width: 40px;
}
main .skillscont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 200px 50px 200px;
}
main .skillscont .separate {
  height: 4px;
  border: none;
  background-color: #7F5AF0;
  box-shadow: 0 0 10px #9675fa;
  width: 80%;
  margin: 50px;
}
main .skillscont .skills {
  font-size: 30px;
  font-family: "arseitalic";
  color: #ffffff;
  margin-bottom: 50px;
}
main .skillscont .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 70px;
}
main .skillscont .logos .skillcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
main .skillscont .logos .skillcont .imgskill {
  height: 50px;
  width: 50px;
}
main .skillscont .logos .skillcont p {
  font-family: "arseitalic";
  font-size: 20px;
}

@keyframes borderMove {
  0% {
    border-image-source: linear-gradient(0deg, #7F5AF0, #16161A);
  }
  25% {
    border-image-source: linear-gradient(90deg, #7F5AF0, #16161A);
  }
  50% {
    border-image-source: linear-gradient(180deg, #7F5AF0, #16161A);
  }
  75% {
    border-image-source: linear-gradient(270deg, #7F5AF0, #16161A);
  }
  100% {
    border-image-source: linear-gradient(360deg, #7F5AF0, #16161A);
  }
}

/*# sourceMappingURL=style.css.map */
