@use "../base/variables";

header {
    background: linear-gradient(16deg, #16161a5f 35%, #3e31649b 55%);
    box-shadow: 0px 0px 40px 40px #16161a5f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;

    .flexhead {
        padding: 150px;
        .mainMess {
            padding-bottom: 50px;
            font-family: variables.$regular;
            font-size: 20px;
            .welcome {
                padding-right: 120px;
                .twof {
                    font-family: variables.$italic;
                    color: #7F5AF0;
                    font-size: 45px;
                    font-style: oblique;
                }
            }
            .front {
                padding-left: 120px;
                font-family: variables.$italic;
                font-size: 25px;
                padding-bottom: 30px;
            }
            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                .projectbutton {
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    font-family: variables.$italic;
                    background-color: #7F5AF0;
                    border: 1px solid #16161A;
                    border-radius: 5px;
                    width: 100px;
                    transition: 3s;
                    &:hover {
                        background-color: #16161A;
                        border:1px solid #7F5AF0;
                        color: #ffffff;
                    }
                }
            }
        }
        .info {
            .about {
                font-family: variables.$italic;

                h2 {
                color: #7F5AF0;
                font-size: 30px;
            }
            .infotxt {
                margin: 20px 30vh;
                font-size: 20px;
                font-family: variables.$italic;
            }
            }
        }
        .exp {
            margin-top: 50px;
            h2 {
                color: #7F5AF0;
                font-size: 30px;
                font-family: variables.$italic;
            }
            .infotxt {
                margin: 20px 30vh;
                font-size: 20px;
                font-family: variables.$italic;
            }
        }
    }

}